<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Servlets -->
	<servlet>
		<servlet-name>pathService</servlet-name>
		<servlet-class>net.karmats.sverigeleden.server.PathServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>pathService</servlet-name>
		<url-pattern>/sverigeleden/path</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>mapKmlService</servlet-name>
		<servlet-class>net.karmats.sverigeleden.server.MapKmlServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>mapKmlService</servlet-name>
		<url-pattern>/sverigeleden/mapKml</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>jsonStockData</servlet-name>
		<servlet-class>net.karmats.sverigeleden.server.JsonStockData</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>jsonStockData</servlet-name>
		<url-pattern>/sverigeleden/stock</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>downloadKml</servlet-name>
		<servlet-class>net.karmats.sverigeleden.server.DownloadKml</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>downloadKml</servlet-name>
		<url-pattern>/sverigeleden/download</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>uploadFile</servlet-name>
		<servlet-class>net.karmats.sverigeleden.server.UploadFile</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>uploadFile</servlet-name>
		<url-pattern>/sverigeleden/upload</url-pattern>
	</servlet-mapping>
	

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>
